<?xml version="1.0"?>
<appSettings>
<!-- Sets the skin for all RadControls to Office2007 -->
	<add key="Telerik.Skin" value="Office2007"/>
	<add key="DBT" value="SQLSERVER" />
	<add key="TimeOut" value="180" />
	<add key="ServerD" value=".\paae" />
	<add key="DBD" value="PacosFerreira" />
	<add key="Server" value=".\paae" />
	<add key="DB" value="PacosFerreira" />
	<add key="ID_Escola" value="20" />
	<add key="VerboseQueries" value="true" />
</appSettings>