
.cssNoModal   
{
     height:0px;
     width:0px; 
     position:absolute;
     left:0px;
     top:0px; 
    }
.cssModal   
{
    z-index:998;
    height:100%;width:100%;      
    position:absolute;      
    left:0px;
    top:0px;
    background-color:white;
	color:White; 
	filter:alpha(opacity=75);
    -moz-opacity:0.75;    
	opacity:0.75;     
    }

.mooSlide {
	background: url('../Imagens/painel.png') no-repeat 0 0;
	padding: 25px 10px 0px;
	font-family: Arial, Helvetica, sans-serif;
	/*line-height: 1.2em;*/
	color: #FFFFFF;
	border: 1px solid #33CCCC;
	margin: 0 auto;
	text-align: left;
	font-size: 0.85em;
	display: none;
	width: 250px;
	z-index:999;
}

.mooSlide h1 {
	font-size: 1.6em;
	height: 20px;
	padding-top: 22px;
	color: white;
}


a {
	text-decoration: none;
	color: #33CCCC;
}

a:hover {
	color: white;
}

.mooSlide form {
	margin: 0 0 10px 0;
	height: 26px;
}

.mooSlide label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 180px;
	display: block;
}

.mooSlide .right {
	width: 270px;
	float: left;
	padding-left: 25px;
}

.mooSlide input {
	background: #464646;
	margin-right: 5px;
	margin-top: 4px;
	color: white;
	height: 32px;
	float: left;
	clear: both;
	display: block;
}

.mooSlide input:focus {
	background: #545454;
}

.mooSlide input.rememberme {
	border: none;
	background: transparent;
	margin: 0;
	padding: 0;
}

/*.mooSlide input.button_login {
	border-style: none;
    border-color: inherit;
    border-width: medium;
    width: 82px;
	height: 30px;
	cursor: pointer;
	margin-top: 10px;
	background: url('../images/button_login.jpg') no-repeat 0 0;
}*/

.mooSlide .loginClose {
	display: block;
	position: absolute;
	right: 20px;
	top: 10px;
	width: 26px;
	left:230px;
}

.mooSlide .loginClose a {
	border-style: none;
    border-color: inherit;
    border-width: medium;
    display: block;
	width: 100%;
	height: 35px;
	background: url('../Imagens/close32.png') no-repeat right 0;
	padding-right: 10px;
	font-size: 0.9em;
	color: white;
	left:230px;
	top:20px;
}
    